In [1]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import news data set 
path = "Data/news.csv"
news = pd.read_csv(path)
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
#remove unwanted column
news.drop(["Unnamed: 0"],axis =1,inplace = True)

In [4]:
# rename columns
news.rename(columns = {"title":"Article_title","text":"Article_body"},inplace=True)

In [5]:
news.head()

,Article_title,Article_body,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [6]:
# create title length column
# create list of words in the article title
split_title = news["Article_title"].str.split()
# find length of list
title_length = split_title.apply(len)
# add to news dataframe
news["Title_length"] = title_length

In [ ]:
# create artictle body length column
# create list of words in the article body
split_title = news["Article_body"].str.split()
# find length of list
body_length = split_title.apply(len)
# add to news dataframe
news["Body_length"] = title_length

In [15]:
# convert REAL values to 0, and FAKE values to 1
news = news.join(pd.get_dummies(news["label"])).drop(["label","REAL"],axis =1)

In [18]:
#Rename FAKE column to Target
news.rename(columns={"FAKE":"Target"},inplace=True)

In [19]:
news.head()

,Article_title,Article_body,Title_length,Target
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",5,1
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,14,1
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,9,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",15,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,9,0