In [1]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import news data set 
path = "Data/news.csv"
news = pd.read_csv(path)

In [3]:
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [4]:
# create length column
# function takes in data, column name and new column name, creates length column
def createLengthCol(data,data_column, new_col_name):
    split_col = data[data_column].str.split()
    print(data_column)
    # find length of list
    col_length = split_col.apply(len)
    # add to news dataframe
    data[new_col_name] = col_length
    return data

In [5]:
# create dummy variables and rename the columns appropriatly
# function takes in data, column to turn into dummy values, old col name, new col name, and columns to be dropped (can be a lsist)
def createDummy(data, dummy_col, old_name,new_name, drop_cols):
    # convert REAL values to 0, and FAKE values to 1
    data = data.join(pd.get_dummies(data[dummy_col])).drop(drop_cols,axis =1)
    #Rename column to new_name
    data = data.rename(columns={old_name:new_name})
    return data

In [6]:
# creates title length and body length columns
# function that takes in data set
def create_lengths(data):
    if "Unnamed: 0" in data.columns:
        #remove unwanted column
        news.drop(["Unnamed: 0"],axis =1,inplace = True)
    # rename columns
    data = data.rename(columns = {"title":"Article_title", "text": "Article_body"})
    #create title length
    createLengthCol(data,"Article_title","Title_length")
    #create body length
    createLengthCol(data,"Article_body","Body_length")
    return data

In [7]:
news.head(5)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [8]:
# create length variables
news = create_lengths(news)
# create dummy values, real = 0,fake  = 1
news = createDummy(news,"label","FAKE","Target",["label","REAL"])

Article_title
Article_body

In [9]:
# remove new line characters
news = news.replace(r'\n',' ', regex=True)
news.shape

(6335, 5)

In [10]:
news["Article_title"]= news["Article_title"].replace(u"\u2019","'",regex = True).replace(u"\u2018","'",regex=True).replace('\u2013', '-',regex = True)

In [11]:
news["Article_body"]= news["Article_body"].replace(u"\u2019","'",regex = True).replace(u"\u2018","'",regex=True).replace('\u2013', '-',regex = True)

In [12]:
# remove all any columns that have 0 body length
news = news[news["Body_length"] != 0 ]
news.shape

(6299, 5)

In [13]:
# remove any rows that have a title length of less than 3
news = news[news["Title_length"]>=3]
news.shape

(6270, 5)

In [14]:
# remove any rows that have the same article name
news = news.drop_duplicates(subset = "Article_title")
news.shape

(6190, 5)

In [15]:
# remove any rows that have the same article body
news = news.drop_duplicates(subset = "Article_body")
news.shape

(5983, 5)

In [16]:
news.reset_index(drop=True,inplace=True)

In [17]:
# store in excel spreadsheet as turning into csv creates unwanted characters and tableau can read it right
news.to_excel("Data/news_clean.xlsx", na_rep = "NAN", encoding = "utf-8-sig")

C:\Users\ivana\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:941: UserWarning: Ignoring URL 'https://web.archive.org/web/20161109183253/http://www.huffingtonpost.com%20They%20pretend%20Trump's%20win%20is%20a%20victory%20for%20bigots,%20instead%20of%20a%20defeat%20for%20the%20aristocracy%20('Wall%20Street',%20'The%20Establishment',%20or%20America's%20billionaires%20and%20their%20agents%20such%20as%20lobbyists%20and%20the%20leading%20politicians).%20However,%20a%20close%20look%20at%20the%20evidence%20shows%20Huffington%20Post%20to%20be%20wrong:%20Trump's%20win%20was%20overwhelmingly%20driven%20by%20Americans'%20repudiation%20of%20the%20aristocracy%20itself%20(such%20as,%20for%20example,%20repudiation%20of%20the%20Institute%20that%20runs%20Huffington%20Post's%20neoconservative%20international%20edition,%20World%20Post%20,%20the%20Berggruen%20Institute%20(including%20Eric%20Schmidt%20,%20Lawrence%20Summers%20,%20Fareed%20Zakaria%20,%20Arianna%20Huffington,%20Nicholas%20Berggruen%20,%20Ernesto%20Zedillo%20,%20Carl%20Bildt,%20Niall%20Ferguson,%20and%20Joseph%20Nye%20,%20all%20being%20proponents%20of%20Obama's%20building%20war%20against%20Russia%20—%20such%20as%20:%20“To%20confront%20Putin,%20Europe%20will%20have%20to%20make%20changes%20that%20will%20be%20deeply%20controversial%20on%20a%20continent%20long%20committed%20to%20environmentalism%20and%20marked%20by%20an%20aversion%20to%20the%20use%20of%20force”).%20And,%20as%20far%20as%20global%20warming%20is%20concerned,%20which%20is%20a%20real%20problem%20about%20Trump,%20it's%20also%20very%20much%20and%20demonstrably%20—%20not%20merely%20in%20words%20—%20a%20real%20problem%20about%20Hillary%20too%20(and%20one%20that%20outside%20the%20context%20of%20the%20Presidential%20campaign%20has%20even%20been%20courageously%20reported%20by%20some%20of%20HuffPo's%20own%20reporters%20),%20but%20HuffPo%20and%20other%20Democratic%20Party%20propagandists%20pretend%20there's%20reason%20to%20believe%20that%20Trump's%20actions%20would%20be%20even%20worse%20than%20hers%20have%20been,%20and%20HuffPo's%20readers%20thus%20end%20up%20being%20little%20else%20than%20Democratic%20Party%20suckers%20who%20feel%20satisfied%20in%20their%20'news'%20reading%20to%20soak%20up%20what%20is%20almost%20entirely%20Democratic%20Party%20propaganda,%20which%20means%20the%20propaganda%20emanating%20out%20of%20the%20White%20House%20whenever%20a%20Democrat%20resides%20there%20—%20sort%20of%20like%20a%20Democratic%20Party%20version%20of%20the%20Republican%20Party's%20Fox%20'News'.%20The%20aristocracy%20(%20all%20of%20it,%20both%20its%20Republican%20and%20its%20Democratic%20Party%20branches)%20continue%20their%20campaign,%20and%20expect%20to%20crush%20their%20opposition%20—%20the%20public%20(of%20all%20parties).%20And%20that's%20what%20a%20close%20look%20at%20the%20evidence%20shows%20explains%20Trump's%20win%20—%20not%20bigotry%20on%20the%20part%20of%20the%20American%20public.%20Bigotry%20is%20a%20huge%20problem%20in%20every%20society,%20but%20especially%20amongst%20the%20aristocracy,%20who%20love%20to%20pretend%20that%20it's%20mainly%20a%20problem%20'down%20below'%20—%20so%20that%20they%20can%20continue%20to%20exploit%20the%20public%20while%20claiming%20to%20be%20superior%20to%20it.%20That's%20the%20Big%20Lie,%20which%20Obama%20and%20the%20Clintons%20—%20and%20Huffington%20Post%20—%20promote%20and%20get%20paid%20very%20well%20to%20promote.%20Their%20campaign%20never%20ends.%20Only%20the%20personnel%20do.' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\ivana\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:941: UserWarning: Ignoring URL 'https://twitter.com/eric_braverman%207.%20On%20Doug%20Band%20of%20the%20Foundation:%20He%20was%20the%20CEO%20of%20Teneo,%20a%20global%20advisory%20firm%20which%20allowed%20him%20to%20mix%20Clinton%20donors,%20foreign%20companies%20with%20Clinton's%20work%20as%20Secretary%20of%20State.%20Huma%20Abedin%20was%20a%20paid%20advisor%20to%20the%20company.%20The%20Senate%20Judiciary%20Committee%20is%20investigating%20the%20alliance%20between%20Abedin,%20Teneo,%20and%20the%20Clinton%20Foundation%20aides.%20There%20are%20many%20articles%20online%20saying%20Braverman%20had%20fled%20to%20the%20Russian%20Embassy%20in%20New%20York%20asking%20for%20asylum,%20but%20I%20do%20not%20feel%20comfortable%20with%20stating%20that%20as%20a%20FACT%20now.%20%20Now,%20new%20WikiLeaks%20emails%20reveal%20additional%20details%20behind%20the%20the%20man,%20Eric%20Braverman,%20who%20was%20brought%20in%20as%20CEO%20by%20Chelsea%20to%20change%20the%20controversial%20practices%20of%20the%20Foundation%20but%20abruptly%20resigned%20a%20short%20time%20later%20after%20being%20pushed%20out%20by%20long-time%20Clinton%20loyalists%20who%20had%20apparently%20grown%20very%20comfortable%20with%20the%20status%20quo.%20Below%20is%20the%20new%20email%20exchange%20which%20begins%20when%20Neera%20Tanden%20warns%20John%20Podesta%20to%20“keep%20tabs%20on%20Doug%20Band”%20who%20she%20assumed%20was%20the%20insider%20who%20told%20NBC%20to%20“follow%20the%20money%20and%20find%20the%20real%20HRC%20scandal.”%20Interestingly,%20John%20Podesta%20writes%20back%20quickly%20to%20identify%20the%20real%20source%20as%20former%20Clinton%20Foundation%20CEO%20Eric%20Braverman%20which%20seems%20to%20be%20shocking%20to%20Tanden%20who%20replies%20simply,%20“Holy%20Moses.”%20%20Posted%20October%2025th,%202016%20by%20Iron%20Mike%20CAUTION:%20Since%20we%20can't%20trust%20the%20media,%20we%20report%20this%20story%20from%20non-mainstream%20sources%20….%20Eric%20Braverman%20-%20a%20Yale%20lawyer%20-%20was%20brought%20into%20the%20Clinton%20Foundation%20“to%20clean%20it%20up”%20.%20His%20salary%20in%202015%20was%20$395K%20plus%20bonuses.%20Of%20course%20the%20Clintons%20didn't%20really%20want%20it%20cleaned%20up,%20-%20just%20to%20LOOK%20cleaned%20up%20….%20Braverman%20was%20dumped%20after%202%20years.%20%20http://rabidrepublicanblog.com/is-eric-braverman-terrified-for-his-life/%20%20Eric%20Braverman%20was%20chief%20executive%20officer%20of%20the%20Clinton%20Foundation%20from%202013%20to%202015.%20At%20the%20Foundation,%20Braverman%20led%20an%20effort%20to%20help%20ensure%20long-term%20sustainability%20-%20securing%20an%20endowment,%20transforming%20the%20organization's%20use%20of%20data,%20establishing%20governance%20practices%20to%20reflect%20changing%20laws%20and%20public%20expectations,%20consolidating%20entities,%20and%20creating%20professional%20development%20for%20staff.%20Previously,%20Braverman%20served%20as%20a%20partner%20at%20McKinsey%20&%20Company,%20where%20he%20advised%20leaders%20in%20the%20public,%20private,%20and%20non-profit%20sectors%20on%20strategy,%20organization,%20and%20operations.%20Named%20by%20Fortune%20magazine%20in%202010%20as%20one%20of%20the%20“40%20Most%20Influential%20Leaders%20in%20Business”%20worldwide%20under%2040%20years%20old,%20Braverman%20co-founded%20McKinsey's%20public%20sector%20practice%20and%20directed%20its%20work%20on%20government%20innovation%20globally.%20He%20also%20served%20as%20an%20advisor%20on%20performance%20management%20and%20technology%20for%20President%20Obama's%20transition%20team%20in%202008.' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "

In [18]:
# # store in csv in case its needed
# news.to_csv("Data/news_clean.csv", na_rep = "NAN", encoding = "utf-8-sig")

In [19]:
# read in second data set
news2real = pd.read_csv("Data/news2real.csv")
news2fake = pd.read_csv("Data/news2fake.csv")

In [20]:
# add labels
news2real["Target"] = "0"
news2fake["Target"] = "1"

In [21]:
# join real and fake datasets
news2 = pd.concat([news2real,news2fake])

In [22]:
news2.shape

(44898, 5)

In [23]:
# remove columns that have the same text in title and text
news2 = news2[news2["title"]!= news2["text"]]

In [24]:
news2.shape

(44889, 5)

In [25]:
news2 = news2.reset_index(drop =True)

In [26]:
# remove unwanted columns
news2.drop(["date","subject"],axis =1,inplace = True)

In [27]:
# create title length and body length columns
news2 = create_lengths(news2)

Article_title
Article_body

In [28]:
news2.shape

(44889, 5)

In [29]:
# remove new line characters
news2 = news2.replace(r'\n',' ', regex=True)

In [30]:
news2["Article_title"]= news2["Article_title"].replace(u"\u2019","'",regex = True).replace(u"\u2018","'",regex=True).replace('\u2013', '-',regex = True)

In [31]:
news2["Article_body"]= news2["Article_body"].replace(u"\u2019","'",regex = True).replace(u"\u2018","'",regex=True).replace('\u2013', '-',regex = True)

In [32]:
news2.shape

(44889, 5)

In [33]:
news2.head(5)

,Article_title,Article_body,Target,Title_length,Body_length
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0,10,749
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0,9,624
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0,10,457
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0,9,376
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0,11,852

In [34]:
# remove all any columns that have 0 body length
news2 = news2[news2["Body_length"] != 0 ]
news2.shape

(44258, 5)

In [35]:
# remove all any columns that have less than 50 body length
news2 = news2[news2["Body_length"] >= 50 ]
news2.shape

(42677, 5)

In [36]:
# remove any rows that have a title length of less than 3
news2 = news2[news2["Title_length"]>=3]
news2.shape

(42676, 5)

In [37]:
# found dupliacted articles 
news2.drop_duplicates(inplace=True)
news2.shape

(37440, 5)

In [38]:
# remove any rows that have the same article body (but have different slightly different title names)
news2.drop_duplicates(subset = "Article_body",inplace=True)
news2.shape

(37429, 5)

In [39]:
# remove any rows that have the same article title but different body
news2.drop_duplicates(subset = "Article_title",inplace=True)
news2.shape

(37057, 5)

In [40]:
news2.head(5)

,Article_title,Article_body,Target,Title_length,Body_length
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0,10,749
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0,9,624
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0,10,457
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0,9,376
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0,11,852

In [41]:
news2.reset_index(drop=True,inplace=True)

In [42]:
# # store in csv in case its needed
# news2.to_csv("Data/news2.csv",encoding = "utf-8-sig", na_rep = "NAN")

In [43]:
# join datasets together
final_news = pd.concat([news,news2])
final_news.dropna(inplace=True)

In [44]:
final_news.reset_index(drop=True,inplace=True)

In [45]:
final_news.shape

(43040, 5)

In [46]:
final_news.head(5)

,Article_title,Article_body,Title_length,Body_length,Target
0,You Can Smell Hillary's Fear,"Daniel Greenfield, a Shillman Journalism Fello...",5,1296,1
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,14,446,1
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,9,431,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",15,404,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,9,317,0

In [47]:
# adding new columns for analysis
final_news["Number_of_tweets"] = final_news["Article_body"].str.count('@')

In [48]:
final_news["corpus"] = final_news["Article_title"] +" " +final_news["Article_body"]

In [49]:
# remove all non ascii characters
final_news = final_news[final_news["corpus"].apply(str.isascii)]

In [50]:
# check with an example
final_news["corpus"].str.contains("کدآمایی").sum()

0

In [51]:
# remove tweet names
def remove_tweets(column):
    list_column = column.split()
    for word in list_column:
        if "@" in word:
            list_column.remove(word)
    column = " ".join(list_column)
    return column

In [52]:
final_news["corpus"] = final_news["corpus"].apply(remove_tweets)

In [53]:
final_news["Number_of_tweets"].value_counts()

0      20880
1       1489
2        702
3        346
4        199
       ...
66         1
131        1
68         1
58         1
60         1
Name: Number_of_tweets, Length: 61, dtype: int64

In [54]:
# remove rows that have quote more than 20 tweets 
final_news = final_news[final_news["Number_of_tweets"]<20]

In [55]:
final_news.head(5)

,Article_title,Article_body,Title_length,Body_length,Target,Number_of_tweets,corpus
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,9,317,0,0,The Battle of New York: Why This Primary Matte...
13,"Trump takes on Cruz, but lightly","Killing Obama administration rules, dismantlin...",6,17,0,0,"Trump takes on Cruz, but lightly Killing Obama..."
24,Anti-Trump forces seek last-ditch delegate revolt,Washington (CNN) The faction of the GOP that i...,6,1234,0,0,Anti-Trump forces seek last-ditch delegate rev...
29,GOP insiders: Carly crushed it,"On this day in 1973, J. Fred Buzhardt, a lawye...",5,28,0,0,GOP insiders: Carly crushed it On this day in ...
36,Donald Groped Hillary in 2005! Trump and Weine...,"Topics: anthony weiner , presidential politics...",11,259,1,0,Donald Groped Hillary in 2005! Trump and Weine...

In [56]:
# store in excel spreadsheet as turning into csv creates unwanted characters and tableau can read it right
final_news.to_excel("Data/final_news.xlsx",encoding = "utf-8-sig",sheet_name="Fake_news_data_set", na_rep = "NAN")

In [57]:
# # store in csv in case its needed
# final_news.to_csv("Data/final_news.csv",encoding = "utf-8-sig", na_rep = "NAN")

In [62]:
# create testing data (removed ignore_index = True due to error but instead added index = False when exporting the file)
testing_data = final_news.sample(frac = 0.3,random_state= 42)
testing_data.head()

,Article_title,Article_body,Title_length,Body_length,Target,Number_of_tweets,corpus
14505,Clinton leads Trump by 12 points ahead of Repu...,NEW YORK (Reuters) - Republican presidential c...,12,353,0,0,Clinton leads Trump by 12 points ahead of Repu...
37239,NEWT GINGRICH Gives Best Ever Solution to Stop...,Newt Gingrich: You start putting a few people...,11,339,1,2,NEWT GINGRICH Gives Best Ever Solution to Stop...
36529,Breaking: President Trump Pardons Sheriff Joe ...,Reuters is reporting: U.S. President Donald T...,8,119,1,1,Breaking: President Trump Pardons Sheriff Joe ...
19293,Barely a quarter of Catalans want to pursue sp...,MADRID (Reuters) - Barely a quarter of Catalan...,12,337,0,0,Barely a quarter of Catalans want to pursue sp...
32526,Watch Morning Joe's Mika DESTROY Paul Ryan Fo...,Republican House Speaker Paul Ryan has been ge...,14,381,1,0,Watch Morning Joe's Mika DESTROY Paul Ryan For...

In [63]:
# # store in csv in case its needed
# testing_data.to_csv("Data/testing_data.csv",encoding = "utf-8-sig", na_rep = "NAN")

In [65]:
# store in excel spreadsheet as turning into csv creates unwanted characters and tableau can read it right
testing_data.to_excel("Data/testing_data.xlsx",encoding = "utf-8-sig",sheet_name="Fake_news_data_set", na_rep = "NAN", index = False)